<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>処理履歴</title>
</head>

<body>

    <h1>SUNABA COFFEE 在庫管理システム</h1>

    <h2>処理履歴</h2>

    <p>
        <a href="{{ url_for('home') }}">商品在庫状況へ戻る</a>
    </p>

    <table border="1">
        <tr>
            <th>日時</th>
            <th>商品名</th>
            <th>処理区分</th>
            <th>数量</th>
        </tr>

        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction[1] }}</td>
            <td>{{ transaction[2] }}</td>
            <td>{{ transaction[3] }}</td>
            <td>{{ transaction[4] }} {{ transaction[5] }}</td>
        </tr>
        {% endfor %}

    </table>

</body>

</html>